[submodule "interf_dqn"]
	path = interf_dqn
	url = https://github.com/dmitrySorokin/interf_dqn.git
[submodule "interf_game"]
	path = interf_game
	url = https://github.com/dmitrySorokin/interf_game.git
[submodule "gym_interf"]
	path = gym_interf
	url = https://github.com/dmitrySorokin/gym_interf.git
[submodule "iron_interf"]
	path = iron_interf
    url = https://github.com/dmitrySorokin/iron_interf.git

